<!--
	For the brave souls who get this far: You are the chosen ones,
	the valiant knights of programming who toil away, without rest,
	looking for the anwers to our deepest questions. To you, true 
	saviors, kings of men, I say this: Never gonna give you up, never 
	gonna let you down, never gonna run around and desert you. Never 
	gonna make you cry, never gonna say goodbye. Never gonna tell a 
	lie and hurt you.
   -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">	
    
    <!-- JS Shit -->
    <script src="{{ "/assets/js/jquery-1.9.1.min.js" | prepend: site.baseurl}}"></script>
	 <script src="{{ "/assets/owl-carousel/owl.carousel.min.js" | prepend: site.baseurl}}"></script>

    <!-- CSSwag -->
	 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/owl-carousel/owl.theme.css" | prepend: site.baseurl}}">
	 <link rel="stylesheet" href="{{ "/assets/owl-carousel/owl.carousel.css" | prepend: site.baseurl}}">
	 <link rel="stylesheet" href="/assets/owl-carousel/owl.transitions.css">

</head>
